Repository svix/svix-webhooks, pull requests merged in 2023-02, with the labels that each got.

#787 Fix incorrect status code comparison for `Recover`
  csharp/Svix/Endpoint.cs
Labels: lib/csharp

#833 Add new event type and endpoint params to libs
  csharp/Svix/Endpoint.cs
  csharp/Svix/EventType.cs
  csharp/Svix/Models/ListOptions.cs
  go/endpoint.go
  java/lib/src/main/java/com/svix/Endpoint.java
  java/lib/src/main/java/com/svix/EndpointListOptions.java
  java/lib/src/main/java/com/svix/EventType.java
  javascript/src/index.ts
  kotlin/lib/src/main/kotlin/Endpoint.kt
  kotlin/lib/src/main/kotlin/EndpointListOptions.kt
  kotlin/lib/src/main/kotlin/EventType.kt
  python/svix/api.py
  rust/src/api.rs
Labels: lib/all

#826 Add support for ordering and prev_iter in app list
  server/svix-server/src/db/models/application.rs
  server/svix-server/src/v1/endpoints/application.rs
  server/svix-server/src/v1/endpoints/endpoint/crud.rs
  server/svix-server/src/v1/utils/mod.rs
  server/svix-server/tests/e2e_application.rs
  server/svix-server/tests/e2e_endpoint.rs
  server/svix-server/tests/e2e_event_type.rs
  server/svix-server/tests/utils/common_calls.rs
Labels: server

#852 [CSharp] change `SvixOptions.Throw` default to `true`
  ChangeLog.md
  csharp/Svix/Models/SvixOptions.cs
Labels: lib/csharp
